<div class="wave1">
    <img src="/assets/wave1.png" >
</div>

<div class="tops-about">
    <div class="tops-about-img">
        <img src="/assets/love-happy.jpg" width="700" >
    </div>
    <div class="tops-about-text">
        <h2>美食ヘルスケアとは</h2>
        <div class="tops-about-text-body">
            <h3>何ができるか</h3>
            <ul>
                <li>外部サイトのレシピや当サイトで投稿されたレシピを、キーワード検索やハッシュタグ検索などを用いて、個人個人の目的に合わせて検索可能です。</li>
            </ul>
            <h3>対象者</h3>
            <ul>
                <li>食べられないもの（病気、食物アレルギー・食物不耐症、苦手なものなど）がある方向けに特化していますが、幅広いニーズに対応しているため、一般の方も利用可能です。</li>
            </ul>
        </div>
    </div>
</div>

<div class="wave2">
    <img src="/assets/wave2.png" >
</div>

<div class="tops-how-to-background">
    <div class="tops-how-function-img">
        <img src="/assets/deli-health_function.png" width="700" >
    </div>
    <div class="tops-how-to">
        <h2>サイトの使い方</h2>
        <div class="tops-how-to-body">
            <h3>「当サイトで投稿されたもの」＋「外部サイトのレシピ」からレシピを検索可能</h3>
            <ul>
                <div class="tops-how-to-li-none">
                    <li>美食ヘルスケアでは、当サイトで投稿されたレシピ情報と外部サイト（<a href="https://cookpad.com/">クックパッド</a>、<a href="https://recipe.rakuten.co.jp/">楽天レシピ</a>）のレシピ情報から豊富なレシピを検索できます。</li>
                    <li>是非、日常生活の食事レシピの参考にしたり、当サイトのレシピ投稿のアイディアにつなげたりし、活用してください！</li>
                </div>
            </ul>
            <h3>レシピ検索の仕組み</h3>
            <ul>
                <div class="tops-how-to-li-none">
                    <li>検索できるカテゴリが「病気」「食物アレルギー・食物不耐症」「苦手」「その他または理由なし」の4つに別れており、自分に合った専用ページからレシピの検索が可能です。</li>
                    <li>「検索一覧」ページは、すべてのカテゴリから一括でレシピを検索したい場合に活用できます。</li>
                    <li>また、キーワード検索とハッシュタグ検索を用いることで、以下のような絞り込み検索ができます。</li>
                </div>
                <div class="tops-how-to-li-disc">
                    <li>検索機能検索 → ハッシュタグ機能検索</li>
                    <li>ハッシュタグ機能検索 → 検索機能検索</li>
                </div>
            </ul>
            <h3>ログインが不要なもの</h3>
            <ul>
                <div class="tops-how-to-li-disc">
                    <li>レシピの検索</li>
                    <li>レシピの詳細閲覧</li>
                    <li>他ユーザのマイページの一部（プロフィール、投稿したもの）</li>
                </div>
            </ul>
            <h3>ログインが必要なもの</h3>
            <ul>
                <div class="tops-how-to-li-disc">
                    <li>レシピを投稿・編集する際にはログインが必要</li>
                    <li>♡のアイコンからいいね保存ができる</li>
                    <li>保存したレシピをマイページから閲覧できる</li>
                </div>
                <div class="tops-how-to-li-none">
                    <div class="tops-how-to-message">
                        <li>文字の説明だけでは分かりにくい部分もあると思うので、是非、実際に検索一覧ページに行ってレシピを検索・投稿をしてみてください。</li>
                    </div>
                </div>
            </ul>
        </div>
        <div class="tops-how-to-tomolidex">
            <%= link_to "検索一覧へ", tomorecipes_path %>
        </div>
    </div>
    <div class="tops-how-rabbit-img">
        <img src="/assets/rabbit.png" width="280" >
    </div>
</div>

<div class="wave3">
    <img src="/assets/wave1.png" >
</div>

<div class="tops-promotion">
    <div class="tops-promotion-img">
        <img src="/assets/recipe1.png" width="700" >
    </div>
    <div class="tops-promotion-text">
        <h2>宣伝メッセージ</h2>
        <ul>
            <li>美食ヘルスケアは、<span class="tops-promotion-message-font">食べられないものがある人も毎日を楽しく健康に</span>過ごせるよう、想いを込めて作成されました。</li>
            <li>このWebサイトを通して、豊富なレシピを手軽に検索・投稿できるようにすることで、一般の方から病気、食物アレルギー・食物不耐症、苦手なものなどで食べられないものがある方まで、1人でも多くの人が毎日、楽しく健康な食事をして幸せに過ごせることを心より願っています。</li>
            <li>しかし、外部サイトのみでは応えきれないニーズ（特に病気）も多数存在します。そのため、食べられないものがある方向けに特化された当サイトでの、積極的なレシピ投稿を心よりお待ちしています。</li>
            <li>また、美食ヘルスケアは制作されたばかりでこれからさらに改良していく予定です。当サイトが今後充実し多くの人に役立つものにしていくためにも、積極的なレシピの投稿をお待ちしています。</li>
        </ul>
    </div>
</div>

<div class="tops-logo">
    <img src="/assets/recipe-with-logo.png" alt="" width="750">
</div>

<div class="tops-notes">
    <div class="tops-notes-text">
        <h2>注意事項</h2>
        <ul>
            <li>※1 ハッシュタグ検索には関連する用語をハッシュタグにしているため、正式名称ではないものが含まれる場合もあります。</li>
            <li>※2 人によって食べられないものはそれぞれ異なるため、代用レシピが紹介されていても、材料に食べられないものが含まれる場合があるため、レシピを活用する際は必ず事前に各自で確認してください。</li>
            <li>※3 偏った食べものを摂取しすぎると、病気やアレルギーの原因となることがあります。</li>
            <div class="tops-notes-3">
                <li>バランスの良い食生活を心がけましょう！</li>
            </div>
        </ul>
    </div>
    <div class="tops-notes-img">
        <img src="/assets/recipe2.png" width="570" >
    </div>
</div>


<div class="start">
    <p class="logo-img"><img src="/assets/deli-health_circle.png" alt="" width="250"></p>
</div>

<script type="text/javascript">
    $(function() {
        setTimeout(function(){
            $('.logo-img').fadeIn(1600);
        },1000); //1.0秒後にロゴをフェードイン!
        setTimeout(function(){
            $('.start').fadeOut(500);
        },4000); //4.0秒後にロゴ含め真っ白背景をフェードアウト！
    });
</script>

